html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;

  background-color: var(--bg);
}

#export-screen-id {
  padding-top: 10%;

  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#titleRow {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 60vw;
  font-size: 3vmin;
  font-weight: bold;
  margin-bottom: 5px;
}

#text-description {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: center; /* Align the text to the center */
  margin-bottom: 10px;
  font-size: 2rem;
}
#btn-row {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

#import-button-id,
#export-button-id,
#mainmenu-button-id {
  font-size: 3.5vmin;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
