html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#export-screen-id {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

.ww {
  width: 80%;
}

#btn-row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#export-button-id,
#mainmenu-button-id {
  font-size: clamp(1rem, 3vmin, 4rem);
}

#text-description {
  margin-top: 20vh;
}

.form-check-label {
  font-size: 1.5rem; /* Larger font size for the label */
}

.form-check {
  width: 100%;
}

.form-check-input {
  width: 44px; /* Larger checkbox */
  height: 44px; /* Larger checkbox */
  margin-right: 10px; /* Space between checkbox and label */
}

.form-check-input {
  transform: scale(1.5);
}
