/* -------------------- */
/* SELECTION VIEW */
#top-div {
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#selection-screen {
  overflow-x: hidden;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.form-label {
  font-size: clamp(0.75rem, 3.5vmin, 4rem);
}

#continue-btn,
#main-menu-btn,
#stream-type-description,
#search-type,
#source-type {
  font-size: 3vmin;
}

/* ------------------------- */
/* STREAM VIEW */
#stream-view {
  display: grid;
  grid-template-rows: 1fr 14fr;
  min-height: 0;
  min-width: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.grid-keywords {
  grid-template-columns: 3fr 15fr;
  grid-template-areas:
    'stream-btns-div stream-btns-div'
    'keyword-display-div stream-view-video';
}

.grid-keywords-images {
  grid-template-columns: 3fr 13fr 3fr;
  grid-template-areas:
    'stream-btns-div stream-btns-div stream-btns-div'
    'keyword-display-div stream-view-video images-display-div';
}

#stream-btns-div {
  grid-area: stream-btns-div;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--primary);
}

#keyword-display-div {
  grid-area: keyword-display-div;
  height: 100%;
  width: 100%;
  font-size: 3vmin;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  hyphens: auto;
}

#stream-view-video {
  grid-area: stream-view-video;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow: overlay; */
}

#images-display-div {
  grid-area: images-display-div;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 3px solid var(--primary);
  display: none;
}

#overlay {
  display: block;
  width: 100%;
  height: 100%;
}

/*START: CSS for the first stream selection view3 which includes keywords and images */
#stream-view3 {
  display: grid;
  grid-template-columns: 2fr 13fr 3fr;
  grid-template-rows: 1fr 7fr 7fr;
  min-height: 0;
  min-width: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-areas:
    'stream-btns-div3 stream-btns-div3 stream-btns-div3'
    'keyword-display3-div stream-view3-video images-display3-div'
    'keyword-display3-div stream-view3-video memes-display3-div';
}

#stream-btns-div3 {
  grid-area: stream-btns-div3;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--primary);
}

#keyword-display3-div {
  grid-area: keyword-display3-div;
  height: 100%;
  width: 100%;
  font-size: 3vmin;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  hyphens: auto;
}
#stream-view3-video {
  grid-area: stream-view3-video;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#memes-display3-div {
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 3px solid var(--primary);
}

.top-btns {
  height: 100%;
  font-size: clamp(0.5rem, 7.5vmin, 3.5rem);
}

.keyword {
  word-break: break-word; /* Ensures long words do not overflow */
  hyphens: auto; /* Automatically adds hyphens where appropriate */
  margin-bottom: 0.2rem;
  font-size: clamp(0.5rem, 3vmin, 2.5rem);
}

.image-thumbnail-div,
.meme-thumbnail-div {
  height: 15vh;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}
.image-thumbnail,
.meme-thumbnail {
  /* height: 100px;
    width: 100px; */
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}
.separator {
  height: 5vh;
}

.thumbnail-with-goto {
  cursor: pointer;
}
