#collections-modal-search-top-grid-div-id {
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 2fr 2fr 3fr 24fr;
  height: 100%;
  /* box-sizing: border-box; */
  padding: 0%;
  grid-template-areas:
    "collections-modal-search-main-button-container-div-id"
    "collections-modal-search-tag-entry-container-div-id"
    "collections-modal-search-meme-tag-entry-top-div-id"
    "collections-modal-search-emotion-entry-top-div-id"
    "collections-modal-search-images-results-display-id";
}

/* SEARCH BUTTON START */
#collections-modal-search-main-button-container-div-id {
  background-color: #00c600;
  grid-area: collections-modal-search-main-button-container-div-id;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collections-modal-search-main-button-id {
  display: block;
  width: 50%;
  height: 90%;
  /* background-color: #1884ff; */
  /* border-radius: 15%; */
  font-weight: bold;
  font-size: 2.5vmin;
}
#collections-modal-search-main-reset-button-id {
  display: inline-block;
  text-align: center; /*width: 30%;*/
  height: 75%;
  /* background-color: #ad2021; */
  /* border-radius: 25%; */
  font-weight: bold;
  font-size: 2.5vmin;
}
/* SEARCH BUTTON END */

/* TAG SEARCH START */
#collections-modal-search-tag-entry-container-div-id {
  background-color: #00c600;
  grid-area: collections-modal-search-tag-entry-container-div-id;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  display: flex;
}
#collections-modal-search-tag-label-id {
  white-space: nowrap;
  font-size: 3vmin;
  font-weight: bold;
  padding-left: 0.5%;
  vertical-align: middle;
  float: left;
}
#collections-modal-search-tag-textarea-entry-div-id {
  flex-grow: 20;
}
#collections-modal-search-tag-textarea-entry-id {
  height: 3vmin;
  overflow: hidden;
  font-size: 2.75vmin;
  border-radius: 5px;
  white-space: nowrap;
  width: 99%;
}
/* TAG SEARCH END */

/* EMOTION FIELD SEARCH START */
#collections-modal-search-emotion-entry-top-div-id {
  background-color: #00c600;
  grid-area: collections-modal-search-emotion-entry-top-div-id;
  /* display: flex;
      align-items: center; */
  display: grid;
  grid-template-columns: 3fr 3fr 8fr;
  grid-template-areas:
    "collections-grid-emotion-area-1-id"
    "collections-grid-emotion-area-2-id"
    "collections-grid-emotion-area-3-id";
  /* justify-content: center; */
}
#collections-grid-emotion-area-1-id {
  grid-template-areas: collections-grid-emotion-area-1-id;
}
#collections-modal-search-emotion-entry-button-id {
  display: inline-block;
  text-align: center;
  height: 90%;
  /* background-color: #1884ff; */
  /* border-radius: 15%; */
  font-weight: bold;
  font-size: 2.5vmin;
}
#collections-grid-emotion-area-2-id {
  grid-template-areas: collections-grid-emotion-area-2-id;
}
#collections-modal-search-emotion-label-and-value-entry-container-div-id {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* height: 100%; */
  box-sizing: border-box;
  padding: 0%;
  grid-template-areas:
    "collections-modal-search-emotion-label-value-textarea-entry-id"
    "collections-modal-search-emotion-value-range-entry-id";
}
#collections-modal-search-emotion-label-value-textarea-entry-id {
  grid-area: collections-modal-search-emotion-label-value-textarea-entry-id;
  height: 2.75vmin;
  overflow: hidden;
  font-size: 2.75vmin;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  /* width: 30%; */
}
#collections-modal-search-emotion-value-range-entry-id {
  /* width: 20%vmin; */
  grid-area: collections-modal-search-emotion-value-range-entry-id;
  display: inline-block;
}
#collections-grid-emotion-area-3-id {
  grid-template-areas: collections-grid-emotion-area-3-id;
}
#collections-modal-search-emotion-label-value-display-container-div-id {
  bottom: 0;
  padding-left: 1.5vmin;
  padding-bottom: 2.5vmin;
  /* margin: auto; */
  /* max-width: 40vmin; or whatever width you want. */
  display: inline-block;
  width: 95%;
  height: 90%;
  height: 5vmin;
  font-size: 2.75vmin;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.collections-modal-search-emotion-remove-button-class {
  height: 2.5vmin;
}
/* EMOTION FIELD SEARCH START */

/* MEME TAG LIST START */
#collections-modal-search-meme-tag-entry-top-div-id {
  background-color: #00c600;
  grid-area: collections-modal-search-meme-tag-entry-top-div-id;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  display: flex;
  padding-top: 0.5vmin;
}
#collections-modal-search-meme-tag-label-id {
  white-space: nowrap;
  font-size: 3vmin;
  font-weight: bold;
  padding-left: 0.5%;
  vertical-align: middle;
  float: left;
}
#collections-modal-search-meme-tag-textarea-entry-div-id {
  flex-grow: 20;
}
#collections-modal-search-meme-tag-textarea-entry-id {
  height: 3vmin;
  overflow: hidden;
  font-size: 2.75vmin;
  border-radius: 5px;
  white-space: nowrap;
  width: 99%;
}
/* MEME TAG LIST END */

/* IMAGE SEARCH RESULTS START */
#collections-modal-search-images-results-display-id {
  background-color: #00c600;
  grid-area: collections-modal-search-images-results-display-id;
  border-top: 6px solid #005000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 11fr;
  /* height: 100%; */
  min-height: 1px;
  /* max-width: 100%; */
  width: 100%;
  /* overflow-y: scroll; */
  box-sizing: border-box;
  grid-template-areas:
    "collections-modal-search-images-results-button-div-id   collections-modal-search-images-results-button-div-id"
    "collections-modal-search-images-results-grid-div-area-id   collections-modal-search-images-results-grid-div-area-id";
}

#collections-modal-search-images-results-button-div-id {
  background-color: #00c600;
  border-right: solid 6px #005000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  grid-area: collections-modal-search-images-results-button-div-id;
}
#collections-modal-search-images-results-select-images-order-button-id {
  /* background-color: #1884ff; */
  /* height: 70%; */
  /* border-radius: 10%; */
  width: 70%;
  /* margin: 2px; */
  font-size: 3vmin;
  font-weight: bold;
  /* border-right: 2px #00c600 solid; */
}
/* #modal-search-images-memes-results-button-div-id {
  background-color: #00c600;

  /* height: 100%; */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* grid-area: modal-search-images-memes-results-button-div-id; */
/* }  */
/* #modal-search-images-results-select-meme-images-order-button-id {
  background-color: #1884ff;
  /* height: 70%; */
/* border-radius: 10%; */
/* margin: 2px; */
/* width: 70%; */
/* font-size: 2.75vmin; */
/* font-weight: bold; */
/* border-left: 2px #00c600 solid; */
/* } */
#collections-modal-search-images-results-grid-div-area-id {
  background-color: #005000;
  overflow-y: scroll;
  border-top: 3px solid #005000;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */

  grid-area: collections-modal-search-images-results-grid-div-area-id;

  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.collection-view-container-class {
  box-sizing: border-box;
  height: 30vh;
  max-height: 30vh;
  padding-bottom: 6px;
  border-bottom: 3px solid #00c600;
  margin-top: 4px;
}

.collection-selection-preview-single {
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */

  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 11fr;
  box-sizing: border-box;
  grid-template-areas:
    "    collection-name-result-div-class       .      "
    " collections-modal-search-thumbnail-img    .   ";
}

.collection-name-result-div-class {
  grid-area: collection-name-result-div-class;
  display: flex;
  justify-content: center;
  font-size: 2vmin;
  background-color: #00c600;
}

.collections-modal-search-result-collection-profileimg-class {
  grid-area: collections-modal-search-thumbnail-img;
  box-sizing: border-box;
  /* object-fit: contain;
  height: 25vh;
  width: 100%;
  max-height: 100%; */

  height: 99999px;
  object-fit: contain;
  max-height: 27vh; /*100%;*/
  max-width: 100%;
  display: block;
  margin: auto auto;
}
/* IMAGE SEARCH RESULTS END */
