body,
html {
  height: 100%;
  background: linear-gradient(180deg, #bfb9b9 0%, #6acde3 98%);
}

.neon {
  font-size: 50px;
  text-align: center;
  color: rgb(3, 117, 79);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.btn_start_tagging,
.btn_create_entities {
  display: block;
  border: none;
  background-color: #04aa6d;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: yellow;
}

.btn_div {
  margin: auto;
  width: 75%;
  border: 5px solid green;
  border-radius: 15px;
}

.skill_title {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.progress {
  text-align: right; /* Right-align text */
  padding-top: 28px; /* Add top padding */
  padding-bottom: 35px; /* Add bottom padding */
  color: black; /* White text color */
  font-weight: bold;
  font-size: 28px;
}

.tags {
  background-color: rgb(238, 140, 28);
} /* Green */
.emotions {
  background-color: rgb(238, 140, 28);
} /* Blue */
.memes {
  background-color: rgb(238, 140, 28);
} /* Red */
.score {
  background-color: rgb(238, 140, 28);
} /* Dark Grey */
