.tagBtn {
  text-align: center;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.progress {
  text-align: right; /* Right-align text */
  padding-top: 20px; /* Add top padding */
  padding-bottom: 20px; /* Add bottom padding */
  color: white; /* White text color */
}

.tags {
  width: 90%;
  background-color: #04aa6d;
} /* Green */
.emotions {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.memes {
  width: 65%;
  background-color: #f44336;
} /* Red */
.score {
  width: 60%;
  background-color: #808080;
} /* Dark Grey */
