body,
html {
  height: 100%;
  background-color: var(--bg);
}

#top-facemap,
#facemap,
#network-view,
#facemap-controls {
  height: 100%;
  background-color: var(--bg);
}

#network-view {
  height: 100%;
  overflow: hidden; /*auto;*/
  border-right: 2px solid var(--primary);
  box-sizing: border-box;
}

#facemap-controls {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#button-container {
  /* height: 20%; */
  overflow: auto;
  padding: 3px;
}

#image-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: blue;
}

.slider-container {
  margin-top: 10px; /* Adds space above the slider */
  display: block; /* Ensures it starts on a new line */
  clear: both; /* Ensures it doesn't overlap with floated elements */
  width: 100%;
}

label[for='thumbnail-size-slider'] {
  font-weight: bold;
}
