#modal-search-top-grid-div-id {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 3fr 24fr;
  height: 100%;
  /* box-sizing: border-box; */
  padding: 0%;
  grid-template-areas:
    'modal-search-main-button-container-div-id'
    'modal-search-tag-entry-container-div-id'
    'modal-search-meme-tag-entry-top-div-id'
    'modal-search-emotion-entry-top-div-id'
    'modal-search-images-results-display-id';
}

/* SEARCH BUTTON START */
#modal-search-main-button-container-div-id {
  /* background-color: var(--primary-300); */
  grid-area: modal-search-main-button-container-div-id;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#modal-search-main-button-id {
  display: block;
  width: 25%;
  height: 90%;
  /* background-color: #1884ff; */
  /* border-radius: 15%; */
  font-size: clamp(0.75rem, 2vmin, 3rem);
  border-radius: 0.5rem;
}
#modal-search-similar-button-id {
  display: block;
  width: 25%;
  height: 90%;
  /* background-color: #1884ff; */
  /* border-radius: 15%; */
  font-size: clamp(0.75rem, 2vmin, 3rem);
  border-radius: 0.5rem;
}
#modal-search-main-reset-button-id {
  display: inline-block;
  text-align: center; /*width: 30%;*/
  height: 80%;
  /* background-color: #ad2021; */
  /* border-radius: 25%; */
  font-size: clamp(0.75rem, 2vmin, 3rem);
  border-radius: 0.5rem;
}
/* SEARCH BUTTON END */

/* TAG SEARCH START */
#modal-search-tag-entry-container-div-id {
  /* background-color: var(--primary-300); */
  grid-area: modal-search-tag-entry-container-div-id;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  display: flex;
}
#modal-search-tag-label-id {
  white-space: nowrap;
  font-size: 3vmin;
  font-weight: bold;
  padding-left: 0.5%;
  vertical-align: middle;
  float: left;
}
#modal-search-tag-textarea-entry-div-id {
  flex-grow: 20;
}
#modal-search-tag-textarea-entry-id {
  height: 90%;
  overflow: hidden;
  font-size: clamp(0.75rem, 2.2vmin, 3rem);
  border-radius: 5px;
  white-space: nowrap;
  width: 99%;
  outline: none;
  resize: none;
}
/* TAG SEARCH END */

/* EMOTION FIELD SEARCH START */
#modal-search-emotion-entry-top-div-id {
  /* background-color: var(--primary-300); */
  grid-area: modal-search-emotion-entry-top-div-id;
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 3fr 3fr 8fr;
  grid-template-areas:
    'grid-emotion-area-1-id'
    'grid-emotion-area-2-id'
    'grid-emotion-area-3-id';
  /* justify-content: center; */
}
#grid-emotion-area-1-id {
  grid-template-areas: grid-emotion-area-1-id;
}
#modal-search-emotion-entry-button-id {
  display: inline-block;
  text-align: center;
  height: 90%;
  font-size: clamp(0.75rem, 2vmin, 3rem);
  border-radius: 0.5rem;
}
#grid-emotion-area-2-id {
  grid-template-areas: grid-emotion-area-2-id;
}
#modal-search-emotion-label-and-value-entry-container-div-id {
  display: grid;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
  grid-template-rows: 4fr 3fr;
  /* height: 100%; */
  box-sizing: border-box;
  padding: 0%;
  grid-template-areas:
    'modal-search-emotion-label-value-textarea-entry-id'
    'modal-search-emotion-value-range-entry-id';
}
#modal-search-emotion-label-value-textarea-entry-id {
  grid-area: modal-search-emotion-label-value-textarea-entry-id;
  height: 2.5vmin;
  overflow: hidden;
  font-size: clamp(0.75rem, 1.7vmin, 3rem);
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  outline: none;
  resize: none;
  /* width: 30%; */
}
#modal-search-emotion-value-range-entry-id {
  /* width: 20%vmin; */
  grid-area: modal-search-emotion-value-range-entry-id;
  display: inline-block;
  width: 85%;
}
#grid-emotion-area-3-id {
  grid-template-areas: grid-emotion-area-3-id;
}
#modal-search-emotion-label-value-display-container-div-id {
  bottom: 0;
  /* padding-left: 1.5vmin;
  padding-bottom: 2.5vmin; */
  /* margin: auto; */
  /* max-width: 40vmin; or whatever width you want. */
  display: inline-block;
  width: 95%;
  height: 95%;
  /* height: 5vmin; */
  font-size: clamp(0.75rem, 2vmin, 3rem);

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.modal-search-emotion-remove-button-class {
  height: 2.5vmin;
}
/* EMOTION FIELD SEARCH START */

/* MEME TAG LIST START */
#modal-search-meme-tag-entry-top-div-id {
  /* background-color: var(--primary-300); */
  grid-area: modal-search-meme-tag-entry-top-div-id;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  display: flex;
  padding-top: 0.5vmin;
}
#modal-search-meme-tag-label-id {
  white-space: nowrap;
  font-size: 3vmin;
  font-weight: bold;
  padding-left: 0.5%;
  vertical-align: middle;
  float: left;
}
#modal-search-meme-tag-textarea-entry-div-id {
  flex-grow: 20;
}
#modal-search-meme-tag-textarea-entry-id {
  height: 90%;
  overflow: hidden;
  font-size: clamp(0.75rem, 2.2vmin, 3rem);
  border-radius: 5px;
  white-space: nowrap;
  width: 99%;
  outline: none;
  resize: none;
}
/* MEME TAG LIST END */

/* IMAGE SEARCH RESULTS START */
#modal-search-images-results-display-id {
  /* background-color: var(--primary-300); */
  grid-area: modal-search-images-results-display-id;
  /* border-top: 6px solid var(--primary); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 11fr;
  /* height: 100%; */
  min-height: 1px;
  /* max-width: 100%; */
  /* overflow-y: scroll; */
  box-sizing: border-box;
  grid-template-areas:
    'modal-search-images-results-button-div-id   modal-search-images-memes-results-button-div-id'
    'modal-search-images-results-grid-div-area-id   modal-search-meme-images-results-grid-div-area-id';
}

#modal-search-images-results-button-div-id {
  /* background-color: var(--primary-300); */
  /* border-right: solid 6px var(--primary); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  grid-area: modal-search-images-results-button-div-id;
}
#modal-search-images-results-select-images-order-button-id {
  background-color: var(--info);
  /* height: 70%; */
  /* border-radius: 10%; */
  width: 70%;
  /* margin: 2px; */
  font-size: clamp(0.75rem, 2vmin, 3rem);
  border-radius: 0.5rem;
  /* border-right: 2px #00c600 solid; */
}
#modal-search-images-memes-results-button-div-id {
  /* background-color: var(--primary-300); */

  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: modal-search-images-memes-results-button-div-id;
}
#modal-search-images-results-select-meme-images-order-button-id {
  background-color: var(--info);
  /* height: 70%; */
  /* border-radius: 10%; */
  /* margin: 2px; */
  width: 70%;
  font-size: 2.75vmin;
  font-weight: bold;
  /* border-left: 2px #00c600 solid; */
}
#modal-search-images-results-grid-div-area-id {
  background-color: var(--primary-300);
  overflow-y: scroll;
  /* border-top: 3px solid var(--primary); */
  /* max-height: 100%; */
  /* overflow-y: scroll; */
  grid-area: modal-search-images-results-grid-div-area-id;
}

.modal-image-search-result-single-image-div-class {
  text-align: center;
}
.modal-image-search-result-single-image-img-obj-class {
  max-height: 25vh;
  max-width: 100%;
  cursor: pointer;
  margin-top: 4px;
}

.facesearch-initial-thumbnail {
  min-height: 25vh;
  max-height: 25vh;
  max-width: 100%;
  cursor: pointer;
}

#modal-search-meme-images-results-grid-div-area-id {
  background-color: var(--primary-300);
  /* border-top: 3px solid var(--primary); */
  /* height: 100%; */
  overflow-y: scroll;
  grid-area: modal-search-meme-images-results-grid-div-area-id;
}
/* IMAGE SEARCH RESULTS END */
