html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#import-screen-id {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

.ww {
  width: 80%;
}

#btn-row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#import-button-id,
#mainmenu-button-id {
  font-size: clamp(1rem, 3vmin, 4rem);
}

#text-description {
  margin-top: 20vh;
}
