html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(190, 190, 190);
}

.main {
  display: flex;
  min-height: 100%;
}

.left {
  height: 100vh;
  width: 20%;
  border: 2px solid blue;
}
.leftupper {
  height: 50%;
  width: 100%;
  background-color: rgb(190, 190, 190);
}
.leftlower {
  height: 50%;
  width: 100%;
  background-color: cadetblue;
  border-top: 5px solid red;
}



.pic-container {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  overflow-x:hidden;
}

.center {
  height: 100%;
  width: 60%;
}

.right {
  height: 100vh;
  width: 20%;
  border: 2px solid blue;
}
.rightupper {
  height: 50vh;
  width: 100%;
  background-color: rgb(190, 190, 190);
}
.rightlower {
  height: 50vh;
  width: 100%;
  background-color: rgb(190, 190, 190);
  border-top: 5px solid blue;
}
