.fun-button-blue {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  outline: none;
  padding: 2px;
  font-weight: bold;
  border: 1px solid var(--info-800);
  background-image: linear-gradient(-180deg, var(--info-300) 0%, var(--info) 100%);
}
.fun-button-blue:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 1px var(--info-800), 0 0 0 1px var(--info-900);
}

.fun-button-red {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 3.75rem;
  outline: none;
  padding: 3px;
  font-weight: bold;
  border: 1px solid var(--info-900);
  background-image: linear-gradient(-180deg, var(--warning-300) 0%, var(--warning) 100%);
}
.fun-button-red:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 1px var(--warning-600), 0 0 0 1px var(--warning);
}

.nav-bar-on {
  border-radius: 0;
  border: 4px solid var(--info-800);
  background-image: linear-gradient(-180deg, var(--info-300) 0%, var(--info) 100%);
}
.nav-bar-off {
  border-radius: 0;
  border: 4px solid var(--info-800);
  background-image: linear-gradient(-180deg, var(--info) 0%, var(--info) 100%);
}
