#welcome-screen-body-div-id {
  background-color: var(--bg);
  overflow-x: hidden;
}

#title-div-id {
  /* grid-area: title; */
  width: 100%;
  max-height: 15vh;
  font-weight: bold;
  font-size: clamp(20px, 5rem, 80px);

  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 7px 12px 12px var(--primary-400), -3px 10px 12px var(--primary-300);
}

.main-screen-button-styles {
  width: 80%;
  height: 80%;
  font-weight: bold;
  font-size: 3.5vmin;
}

.progress-container {
  width: 80%;
  margin: auto; /* Center the progress bar containers */
}

.progress-container label {
  font-size: clamp(5px, 3.5vh, 50px) !important; /* min, preferred, max */
}

.progress {
  height: clamp(5px, 3vh, 50px) !important; /* important overrides bootstrap */
  font-size: clamp(3px, 1.2rem, 35px) !important; /* min, preferred, max */
}

.label-bold-larger {
  font-size: larger;
  font-weight: bold;
}

.btn-primary.main-screen-button-styles {
  /* border-radius: 1.25rem; */
  font-size: calc(2.15vh + 1vmin);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
