html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #a0a8a0;
}

div {
  margin-top: 10px;
}

#main-div-id {
  display: inline-block;
  width: 100%;  
  height: 100%;
  
}

#title-div-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}
img {
  max-width: 100%;
  max-height: 100%;
  
}
#right-taga-icon-div-id {
  padding-right: 5px;
  /* padding-top: 5px; */
}
#left-taga-icon-div-id {
  padding-left: 5px;
  /* padding-top: 5px; */
}

#middle-title-zone-div-id {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#main-title-text-div-id {
  grid-area: title;
  width: 100%;
  font-weight: bold;
  font-size: 5rem;

  color: #005000;
  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 7px 12px 12px rgba(0, 158, 0, 0.75),
    -3px 10px 12px rgba(0, 198, 0, 0.5);
}
#subtitle-text-div-id {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
}


#installation-div-id {
  max-width: 80%;
  margin-left: 5%;
  margin-top: 3%;
}

.subsection-label-header-class {
  font-size: 2.5rem;
}

ul {
  font-size: 1.5rem;
}



#what-the-app-does-div-id {
  display: flex;
  flex-direction: row;
  align-content: center;
  /* margin-top: 3%; */
  margin-left: 5%;
  max-width: 80%;
  font-size: 1.5rem;
  
}
#usage-description-div-id {
  width: 40%;
  overflow-y: auto;
  max-height: 35vmax;
}
#screen-shots-div-id {
  display: flex;
  flex-direction: row;
  
  width: 80%;
  overflow-x: auto;  
  height: fit-content;
  text-align: center 
}

.screenshots {
  object-fit: contain;
  text-align: center 
}


#links-div-id {
  margin-top: 4%;
  margin-left: 5%;
  max-width: 80%;
  font-size: 1.5rem;
  padding-bottom: 50px;
}

.links {
  font-size: 2.5rem;
}


