html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #EDF0F2;
  scroll-behavior: smooth;
}

#main-div-id {
  width: 80%;  
  height: 100%;
  margin: auto;
  
}

#title-div-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

#middle-title-zone-div-id {
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
}
#main-title-text-div-id {
  grid-area: title;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  color: #005000;
}
#subtitle-text-div-id {
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}
#right-taga-icon-div-id img{
  width: 70px;
}

.home{
  height: 70vh;
  overflow:hidden;
  position: relative;
}

.home .slide{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index:1; 
  display:none;
  padding:0 15px;
  animation: slide 2s ease;
}
.home .slide.active{
  display: flex;
}
@keyframes slide{
  0%{
    transform:scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.container{
  max-width: 1170px;
  margin:auto;
  
}

.home .container{
   flex-grow: 1;
}
.home .caption{
  width:50%;
}
.home .caption h1{
  font-size:42px;
  color:#000000;
  margin:0;
  
}
.home .slide.active .caption h1{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1s;
}
.home .caption p{
  font-size: 18px;
  margin:15px 0 30px;
  color:#222222;
}
.home .slide.active .caption p{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.4s;
}

@keyframes captionText{
  0%{
    opacity:0; transform: translateX(-100px);
  }
  100%{
   opacity:1; transform: translateX(0px); 
  }
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #005000;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 font-weight: 700;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
  background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
  position: absolute;
  left:50%;
  bottom:30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div{
  display: inline-block;
  width:25px;
  height: 25px;
  color:#ffffff;
  background-color: #005000;
  border-radius:50%;
  text-align: center;
  line-height: 25px;
  margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

#installation-div-id {
  max-width: 80%;
  margin-left: 5%;
  margin-top: 3%;
}

.subsection-label-header-class {
  font-size: 2.5rem;
}

ul {
  font-size: 1.5rem;
}



#what-the-app-does-div-id {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 50px 0;
  
}
#usage-description-div-id {
  width: 48%;
  overflow-y: auto;
}
.subsection-label-header-class{
  font-size: 30px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #005000;
}
#usage-description-div-id ul {
  list-style: none; /* Remove default bullets */
  margin-left: -30px;
}

#usage-description-div-id ul li{
  font-size: 20px;
}

#usage-description-div-id ul li::before {
  content: "\2022";  
  color: #005000; 
  font-weight: bold;
  display: inline-block; 
  width: 1rem; 
  font-size: 1.5rem;
  margin-right: 10px;
  vertical-align: middle;
}
#usage-video{
  width: 48%;
  padding-top: 60px;
}
#usage-video iframe{
  width: 100%;
  height: 300px;
}
#installation-div-id {
  max-width: 100%;
  margin-left: 0;
  width: 100%;
}
#installation-div-id ul{
  width: 100%;
}
#installation-div-id ul li{
  line-height: 30px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
}
#installation-div-id ul li a{
  font-weight: 700;
  color: #005000;
  text-decoration: none;
}
#installation-div-id .zip-download-tex{
  font-size: 1.5rem;
}

footer{
  background-color: #005000;
  padding: 20px 0;
}
footer .footer-heading{
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.8125rem;
  height: 3.8125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 2.1395625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons, fa-github, .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 2.5rem;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: lightgray;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #000000;
  background: #ffffff;
  border-color: grey;
}


@media(max-width: 480px){
  #main-div-id{
    width: 90%;
  }
  #main-title-text-div-id{
    font-size: 1.5rem;
  }
  #subtitle-text-div-id{
    font-size: 1rem;
  }
  #right-taga-icon-div-id img{
    width: 50px;
  }
  .home{
    height: 270px;
  }
  .home .slide{
    height: 200px;
  }
  .controls{
    display: none;
  }
  .home .indicator{
    top: 230px;
  }

  #what-the-app-does-div-id{
    margin: 20px 0;
    flex-wrap: wrap;
  }
  #usage-description-div-id{
    width: 100%;
  }
  #usage-description-div-id ul{
    margin-left: -40px;
  }
  #usage-description-div-id ul li::before{
    content: " ";
    margin-right: 0;
    width: 0;
  }
  #usage-description-div-id ul li{
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 17px; 
  }
  #usage-video{
    width: 100%;
    padding-top: 0;
  }
  #usage-video iframe{
    height: 200px;
  }
  .subsection-label-header-class{
    width: 100%;
  }
  #installation-div-id{
    width: 100%;
    margin-left: 0;
  }
  #installation-div-id ul{
    width: 100%;
    margin-left: -20px;
  }
  #installation-div-id ul li{
    font-size: 18px;
  }
}

@media(min-width: 768px) and (max-width:  1024px){
  .home{
    height: 350px;
  }
  #what-the-app-does-div-id{
    flex-wrap: wrap;
  }
  #usage-description-div-id{
    width: 100%;
  }
  #usage-video{
    width: 100%;
    padding-top: 0;
  }
}
