html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

#collection-creation-screen-id {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 12fr 1fr;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-areas:
    "navbar-area1    navbar-area2   navbar-area3   navbar-area4"
    "center-area1    center-area2   center-area3   center-area4"
    "bottom-area1    bottom-area2   botton-area3   bottom-area4";
}

/* NAVBAR START */
#navbar-div-id {
  grid-column-start: navbar-area1;
  grid-column-end: navbar-area4;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: " . . navbar-button1-id navbar-button2-id navbar-button3-id navbar-button4-id navbar-button5-id . . ";

  background-color: #808a80;
}
#navbar-button1-id {
  grid-area: navbar-button1-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button2-id {
  grid-area: navbar-button2-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button3-id {
  grid-area: navbar-button3-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button4-id {
  grid-area: navbar-button4-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button5-id {
  grid-area: navbar-button5-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
/* NAVBAR END */

#center-div-id {
  grid-column-start: center-area1;
  grid-column-end: center-area4;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "center";
  background-color: #941894;
}

/* STEP1 START */
#creation-step1-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "top"
    "bottom";
  background-color: #808a80;
}
#collection-name-div-id {
  grid-area: top;
  display: grid;
  min-width: 0;
  min-height: 0;
  padding-left: 8px;
  padding-top: 8px;
  grid-template-rows: 2fr 6fr;
  grid-template-areas:
    "nameLabel"
    "nameTextArea";
}
#collection-name-label-id {
  grid-area: nameLabel;
  font-size: 3.5vmin;
  font-weight: bold;
}
#collection-name-textarea-div-id {
  grid-area: nameTextArea;
  width: 90%;
}
#collection-name-textarea-id {
  display: block;
  width: 90%;
  font-size: 4.5vmin;
  border-radius: 2px;
  resize: none;
  border-color: black;
  white-space: nowrap;
  overflow: hidden;
}
#collection-profile-image-div-id {
  grid-area: bottom;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 14fr;
  grid-template-areas:
    "button"
    "profileImage";
  background-color: #808a80;
}
#profile-image-select-button-div-id {
  grid-area: button;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile-image-select-button-id {
  margin-top: 5px;
  height: 100%;
  font-size: 3vmin;
}
#profile-image-display-div-id {
  grid-area: profileImage;
  min-height: 0;
  min-width: 0;
}
#profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  /* margin: auto auto; */
  margin-left: auto;
  margin-right: auto;
  object-position: top;
}
/* STEP1 END */

/* STEP2 START */
#creation-step2-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 11fr 7fr;
  grid-template-areas: "left  right";
  background-color: #808a80;
}
#step2-gallery-choose-div-id {
  grid-area: left;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 2fr 2fr 22fr;
  grid-template-areas:
    " galleryLabel "
    " chooseButtons "
    " galleryDisplay ";
  margin: 5px;
}
#step2-gallerychoose-label-div-id {
  grid-area: galleryLabel;
  font-weight: bold;
  font-size: 3.5vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#step2-gallerychoose-buttons-div-id {
  grid-area: chooseButtons;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
#gallery-images-search-button-id {
  font-weight: bold;
  font-size: 3vmin;
  padding: 4px;
}
#gallery-save-changes-button-id {
  font-weight: bold;
  font-size: 3vmin;
  padding: 4px;
}
#step2-gallerygrid-div-id {
  grid-area: galleryDisplay;

  min-width: 0;
  min-height: 0; /*  essential for the auto height be disabled and stop it expanding */
  height: 100%;
  padding: 4px;

  overflow: hidden;
  position: relative;
}
#collections-images-gallery-grid-images-div-id {
  grid-area: collections-images-gallery-grid-images-div-id;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.collection-images-gallery-grid-wrapper-class {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%; /*calc(100% - 5.5vh); /* xxx XXX  */
}
.collection-images-gallery-grid-class {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.collection-images-gallery-grid-item-class {
  /*
    --- (5px * 3) - The indent to the right of one block is 5 pixels, since there are 4 elements in a row, there are only three indents
    --- + 10px - The parent's padding on the right and left is 5 pixels, in total they give 10
    For example, if we want 3 elements in one row:
    --- max-width: calc((100% - ((5px * 2) + 10px)) / 3);
    For example, if we want 5 elements in one row:
    --- max-width: calc((100% - ((5px * 4) + 10px)) / 5);
  */
  width: 100%;
  max-width: calc((100% - ((5px * 3) + 10px)) / 4);
  margin-bottom: 5px;
}
@media screen and (max-width: 1500px) {
  .collection-images-gallery-grid-item-class {
    max-width: calc((100% - ((5px * 2) + 10px)) / 3);
  }
}
@media screen and (max-width: 1200px) {
  .collection-images-gallery-grid-item-class {
    max-width: calc((100% - ((5px) + 10px)) / 2);
  }
}
@media screen and (max-width: 900px) {
  .collection-images-gallery-grid-item-class {
    max-width: calc((100% - ((5px) * 0 + 10px)) / 1);
  }
}
/* TOGGLE (START) SWITCH FOR THE MEMES IN TAGGING */
.memeswitch {
  /* position: relative; */
  display: inline-block;
  width: 60px;
  height: 5%;
  min-height: 20px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  /* height: 22px; */
}
.memeswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ad2021;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 75%;
  width: 26px;
  left: 4px;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #1884ff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1884ff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* TOGGLE (END) SWITCH FOR THE MEMES IN TAGGING */
.collection-images-gallery-grid-img-class {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

#step2-name-profileimage-div-id {
  grid-area: right;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 12fr 1fr;
  grid-template-areas:
    " . "
    " name "
    " profileimage "
    " . ";
  margin: 5px;
}
#step2-name-div-id {
  grid-area: name;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  overflow-x: auto;
  text-indent: 1vmin;
  white-space: nowrap;
  font-weight: bold;
  font-size: 4vmin;
}
#step2-profileimage-div-id {
  grid-area: profileimage;
  min-height: 0;
  min-width: 0;
}
#step2-profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto auto;
  object-position: top;
}
/* STEP2 END */

/* STEP3 START */
#creation-step3-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 11fr 7fr;
  grid-template-areas: "left  right";
  background-color: #808a80;
}
#step3-description-div-id {
  grid-area: left;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 2fr 22fr;
  grid-template-areas:
    " descriptionLabel "
    " descriptionTextArea ";
  margin: 10px;
}
#step3-description-label-div-id {
  grid-area: descriptionLabel;
  font-weight: bold;
  font-size: 3.5vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#step3-description-textarea-div-id {
  grid-area: descriptionTextArea;
}
#step3-description-textarea-id {
  font-size: 3.75vmin;
  width: 100%;
  height: 100%;
}
#step3-name-profileimage-div-id {
  grid-area: right;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 12fr 1fr;
  grid-template-areas:
    " . "
    " name "
    " profileimage "
    " . ";
  margin: 5px;
}
#step3-name-div-id {
  grid-area: name;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  overflow-x: auto;
  text-indent: 1vmin;
  white-space: nowrap;
  font-weight: bold;
  font-size: 4vmin;
}
#step3-profileimage-div-id {
  grid-area: profileimage;
  min-height: 0;
  min-width: 0;
}
#step3-profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto auto;
  object-position: top;
}
/* STEP3 END */

/* STEP4 START */
#creation-step4-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 11fr 7fr;
  grid-template-areas: "left  right";
  background-color: #808a80;
}
#step4-emotion-div-id {
  grid-area: left;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 2fr 22fr 1fr;
  grid-template-areas:
    " emotionLabel "
    " emotionEntry "
    " . ";
  margin: 10px;
}
#step4-emotion-label-div-id {
  grid-area: emotionLabel;
  font-weight: bold;
  font-size: 3.5vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#collection-image-annotation-emotions-div-id {
  grid-area: emotionEntry;
  min-height: 0; /*  essential for the auto height be disabled and stop it expanding */
  min-width: 0;
  height: 100%;
  padding: 4px;
  display: grid;
  grid-template-rows: 11fr 2fr;
  box-sizing: border-box;
  grid-template-areas:
    "collection-image-annotation-emotions-labels-show-div-id"
    "collection-image-annotation-emotions-new-entry-div-id";
}
#collection-image-annotation-emotions-labels-show-div-id {
  grid-area: collection-image-annotation-emotions-labels-show-div-id;
  overflow-y: auto;
  /* min-height: 0;  essential for the auto height be disabled and stop it expanding */
  /* height: 100%; */
}
.emotion-list-class {
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
}
.emotion-list-class div {
  display: flex;
  align-items: center;
}
.emotion-delete-icon-class {
  width: 1.5em;
  height: 1.5em;
  float: left;
  padding-left: 0.2em;
  padding-right: 0.2em;
  cursor: pointer;
}
.emotion-label-view-class {
  /* font-size: 2.75vmin; */
  word-break: break-all;
  font-size: 1.8rem;
}
.emotion-range-slider-class {
  max-width: 40%;
}

#collection-image-annotation-emotions-new-entry-div-id {
  grid-area: collection-image-annotation-emotions-new-entry-div-id;
  /* border-top: 3px solid rgb(68, 68, 68); */
  height: 100%;
  display: grid;
  grid-template-rows: 6fr 4fr;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  grid-template-areas:
    "collection-image-annotation-emotions-new-entry-emotion-textlabel-div-id   collection-image-annotation-emotions-new-entry-emotion-value-range-div-id"
    "collection-image-annotation-emotions-new-entry-emotion-button-div-id      collection-image-annotation-emotions-save-button-div-id";
}
#collection-image-annotation-emotions-new-entry-emotion-textlabel-div-id {
  grid-area: collection-image-annotation-emotions-new-entry-emotion-textlabel-div-id;
  width: 100%;
  margin-top: 5px;
}
#collection-image-annotation-emotions-new-entry-emotion-textarea-id {
  height: 3vmin;
  overflow: hidden;
  margin-top: 0.3rem;
  font-size: 3vmin;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-block;
  resize: none;
  width: 100%;
  border-width: 3px;
  border-color: black;
}
#collection-image-annotation-emotions-new-entry-emotion-button-div-id {
  grid-area: collection-image-annotation-emotions-new-entry-emotion-button-div-id;
  white-space: nowrap;
  height: 100%;
  text-align: center;
}
#collection-image-annotation-emotions-new-entry-add-emotion-button-id {
  font-size: 2.4vmin;
  height: 80%;
  width: 90%;
}
#collection-image-annotation-emotions-save-button-div-id {
  grid-area: collection-image-annotation-emotions-save-button-div-id;
  white-space: nowrap;
  height: 100%;
  text-align: center;
}
#collection-image-annotation-emotions-save-emotion-button-id {
  font-size: 2.4vmin;
  height: 80%;
  width: 90%;
}
#collection-image-annotation-emotions-new-entry-emotion-value-range-div-id {
  grid-area: collection-image-annotation-emotions-new-entry-emotion-value-range-div-id;
  width: 100%;
  margin-left: 5%;
  margin-top: 1vmin;
}
#collection-image-annotation-emotions-new-entry-emotion-value-label-min-id {
  box-sizing: border-box;
  padding-left: 1%;
  margin-left: 5px;
  float: left;
  font-weight: bold;
  font-size: 3.5vmin;
}
#collection-image-annotation-emotions-new-entry-emotion-value-label-max-id {
  box-sizing: border-box;
  padding-right: 10%;
  float: right;
  font-weight: bold;
  font-size: 3.5vmin;
}
#collection-image-annotation-emotions-new-entry-emotion-value-range-slider-id {
  display: inline-block;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#step4-name-profileimage-div-id {
  grid-area: right;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 12fr 1fr;
  grid-template-areas:
    " . "
    " name "
    " profileimage "
    " . ";
  margin: 5px;
}
#step4-name-div-id {
  grid-area: name;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  overflow-x: auto;
  text-indent: 1vmin;
  white-space: nowrap;
  font-weight: bold;
  font-size: 4vmin;
}
#step4-profileimage-div-id {
  grid-area: profileimage;
  min-height: 0;
  min-width: 0;
}
#step4-profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto auto;
  object-position: top;
}
/* STEP4 END */

/* STEP5 START */
#creation-step5-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 11fr 7fr;
  grid-template-areas: "left  right";
  background-color: #808a80;
}
#step5-meme-div-id {
  grid-area: left;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 2fr 22fr 1fr;
  grid-template-areas:
    " memeStepLabel "
    " memeStepGallery "
    " . ";
  margin: 10px;
}
#step5-meme-label-div-id {
  grid-area: memeStepLabel;
  font-weight: bold;
  font-size: 3.5vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#step5-name-profileimage-div-id {
  grid-area: right;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 12fr 1fr;
  grid-template-areas:
    " . "
    " name "
    " profileimage "
    " . ";
  margin: 5px;
}
#step5-name-div-id {
  grid-area: name;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  overflow-x: auto;
  text-indent: 1vmin;
  white-space: nowrap;
  font-weight: bold;
  font-size: 4vmin;
}
#step5-profileimage-div-id {
  grid-area: profileimage;
  min-height: 0;
  min-width: 0;
}
#step5-profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto auto;
  object-position: top;
}
/* STEP5 END */

/* BOTTOM START */
#bottom-div-id {
  grid-column-start: bottom-area1;
  grid-column-end: bottom-area4;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 10fr;
  grid-template-areas: " . prev-button next-button . ";

  background-color: #808a80;
}
#prev-button-id {
  grid-area: prev-button;
  font-size: 3vmin;
  margin: 3px;
}
#next-button-id {
  grid-area: next-button;
  font-size: 3vmin;
  margin: 3px;
}
/* BOTTOM END */
