html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

#collection-creation-screen-id {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 12fr 1fr;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-areas:
    "navbar-area1    navbar-area2   navbar-area3   navbar-area4"
    "center-area1    center-area2   center-area3   center-area4"
    "bottom-area1    bottom-area2   botton-area3   bottom-area4";
}

#navbar-div-id {
  grid-column-start: navbar-area1;
  grid-column-end: navbar-area4;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: " . . navbar-button1-id navbar-button2-id navbar-button3-id navbar-button4-id navbar-button5-id . . ";

  background-color: #808a80;
}
#navbar-button1-id {
  grid-area: navbar-button1-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button2-id {
  grid-area: navbar-button2-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button3-id {
  grid-area: navbar-button3-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button4-id {
  grid-area: navbar-button4-id;
  font-size: 3.5vmin;
  pointer-events: none;
}
#navbar-button5-id {
  grid-area: navbar-button5-id;
  font-size: 3.5vmin;
  pointer-events: none;
}

#center-div-id {
  grid-column-start: center-area1;
  grid-column-end: center-area4;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "center";
  background-color: #941894;
}
#creation-step1-div-id {
  grid-area: center;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "top"
    "bottom";
  background-color: #808a80;
}
#collection-name-div-id {
  grid-area: top;
  display: grid;
  min-width: 0;
  min-height: 0;
  padding-left: 8px;
  padding-top: 8px;
  grid-template-rows: 2fr 6fr;
  grid-template-areas:
    "nameLabel"
    "nameTextArea";
}
#collection-name-label-id {
  grid-area: nameLabel;
  font-size: 3.5vmin;
  font-weight: bold;
}
#collection-name-textarea-div-id {
  grid-area: nameTextArea;
  width: 90%;
}
#collection-name-textarea-id {
  display: block;
  width: 90%;
  font-size: 4.5vmin;
  border-radius: 2px;
  resize: none;
  border-color: black;
  white-space: nowrap;
  overflow: hidden;
}
#collection-profile-image-div-id {
  grid-area: bottom;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 14fr;
  grid-template-areas:
    "button"
    "profileImage";
  background-color: #808a80;
}
#profile-image-select-button-div-id {
  grid-area: button;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile-image-select-button-id {
  margin-top: 5px;
  height: 100%;
  font-size: 3vmin;
}
#profile-image-display-div-id {
  grid-area: profileImage;
  min-height: 0;
  min-width: 0;
}
#profile-image-display-id {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  /* margin: auto auto; */
  margin-left: auto;
  margin-right: auto;
  object-position: top;
}

#bottom-div-id {
  grid-column-start: bottom-area1;
  grid-column-end: bottom-area4;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 10fr;
  grid-template-areas: " . prev-button next-button . ";

  background-color: #808a80;
}
#prev-button-id {
  grid-area: prev-button;
  font-size: 3vmin;
  margin: 3px;
}
#next-button-id {
  grid-area: next-button;
  font-size: 3vmin;
  margin: 3px;
}
