#tagging-screen-id {
  display: grid;
  grid-template-columns: 12fr 8fr;
  grid-template-rows: 2fr 18fr;
  min-height: 0;
  min-width: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-areas:
    'top-area               results-area'
    'search-criteria-area   results-area';
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary);
  background-color: var(--bg);
}

#top-div-id {
  grid-area: top-area;
  height: 100%;
  width: 100%;
}

#top-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#super-search-button-id,
#return-to-main-button-id {
  font-size: clamp(0.75rem, 2.5vmin, 3rem);
}

#top-search-div-id {
  grid-area: search-criteria-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 26fr;
  min-height: 0;
  min-width: 0;
  /* height: 120vh; */
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  grid-template-areas:
    'annotation-criteria-area'
    'facial-images-area';
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary);
  /* background-color: #a0a880; */
}
#annotation-criteria-div-id {
  grid-area: annotation-criteria-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 6fr;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  grid-template-areas:
    'image-keywords-area'
    'meme-keywords-area'
    'emotions-area';
}
#descriptions-keywords-div-id {
  grid-area: image-keywords-area;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  display: flex;
}
#search-tag-label-id {
  white-space: nowrap;
  font-size: clamp(0.75rem, 2vmin, 3rem);
}

#search-tag-textarea-entry-div-id {
  flex-grow: 10;
}
#search-tag-textarea-entry-id,
#search-meme-tag-textarea-entry-id {
  height: clamp(0.75rem, 2.25vmin, 3rem);
  overflow: hidden;
  font-size: clamp(0.75rem, 2vmin, 2.75rem);
  border-radius: 5px;
  white-space: nowrap;
  /* width: 95%; */
}
#meme-keywords-div-id {
  grid-area: meme-keywords-area;
  box-sizing: border-box;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  display: flex;
  /* background-color: yellowgreen; */
}
#search-meme-tag-label-id {
  white-space: nowrap;
  font-size: 3vmin;
  font-weight: bold;
}
#search-meme-tag-textarea-entry-div-id {
  flex-grow: 10;
}

/* EMOTION FIELD SEARCH START */
#search-emotion-entry-top-div-id {
  grid-area: emotions-area;
  /* display: flex;
    align-items: center; */
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2fr 3fr 8fr;
  grid-template-areas:
    'grid-emotion-area-1-id'
    'grid-emotion-area-2-id'
    'grid-emotion-area-3-id';
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}
#grid-emotion-area-1-id {
  grid-template-areas: grid-emotion-area-1-id;
}
#search-emotion-entry-button-id {
  display: inline-block;
  text-align: center;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  font-size: clamp(0.75rem, 1.5vmin, 2.75rem);
}
#grid-emotion-area-2-id {
  grid-template-areas: grid-emotion-area-2-id;
}
#search-emotion-label-and-value-entry-container-div-id {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* height: 100%; */
  box-sizing: border-box;
  padding: 0%;
  grid-template-areas:
    'search-emotion-label-value-textarea-entry-id'
    'search-emotion-value-range-entry-id';
}
#search-emotion-label-value-textarea-entry-id {
  grid-area: search-emotion-label-value-textarea-entry-id;
  height: 3vmin;
  overflow: hidden;
  font-size: clamp(0.75rem, 2.25vmin, 2.75rem);
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  /* width: 30%; */
}
#search-emotion-value-range-entry-id {
  /* width: 20%vmin; */
  grid-area: search-emotion-value-range-entry-id;
  display: inline-block;
}

/* new */
#search-emotion-label-value-display-container-div-id {
  grid-template-areas: grid-emotion-area-3-id;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  /* height: 5vmin; */
  font-size: clamp(0.75rem, 2vmin, 2.75rem);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* new */
.search-emotion-remove-button-class {
  vertical-align: middle;
  height: clamp(0.75rem, 2vmin, 2.75rem);
}

/* new */
.emotion-span {
  display: inline-flex; /* This makes its children (the img and text) align better inline */
  align-items: center;
  margin-right: 0.5rem;
}

#facial-images-div-id {
  grid-area: facial-images-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 6fr 1fr 6fr;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  grid-template-areas:
    'facial-row-one-area'
    'facial-row-two-area'
    'facial-row-three-area'
    'facial-row-four-area'
    'facial-row-five-area';
  /* 'facial-row-six-area'; */
  /* background-color: violet; */
}
#facial-row-one-div-id {
  grid-area: facial-row-one-area;
  font-weight: bold;
  font-size: clamp(0.75rem, 2.75vmin, 4rem) !important;
  /* background-color: var(--primary-300); */
}

.custom-hr {
  border-top: 2px solid var(--primary-300); /* Example custom color and thickness */
  width: 100%; /* Example custom width */
  margin-top: 0; /* Custom margin */
  margin-bottom: 0;
}

#facial-row-two-div-id {
  grid-area: facial-row-two-area;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(153, 145, 28); */
}
.search-row-two-buttons {
  height: 80%;
  font-size: clamp(0.75rem, 2vmin, 4rem) !important;
}

#facial-row-three-div-id {
  grid-area: facial-row-three-area;
  display: flex;
  align-content: center;
  flex-wrap: no-wrap;
  overflow-x: auto;
  /* background-color: green; */
}
.recommended-img-div-class {
  position: relative;
  float: left;
  /* margin-left: 10px;  */
}
.recommended-img-check-box {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 12%;
  height: 12%;
  cursor: pointer;
}
.recommended-img-check-box:hover {
  background-color: orange;
}
.recommended-search-img-class {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 25vw;
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

#facial-row-four-div-id {
  grid-area: facial-row-four-area;
  display: flex;
  align-content: flex-end;
  font-size: clamp(0.75rem, 2.75vmin, 4rem) !important;
  font-weight: bold;

  /* background-color: #00c600; */
}
#facial-row-five-div-id {
  grid-area: facial-row-five-area;
  display: flex;
  align-content: center;
  flex-wrap: no-wrap;
  overflow-x: auto;
  /* background-color: aqua; */
}
.selected-imgs {
  height: 99999px;
  object-fit: contain;
  max-height: 100%;
  max-width: 25vw;
  margin-right: 5px;
  margin-left: 5px;
  display: block;
  cursor: pointer;
}

/* where the super search results go */
#top-results-div-id {
  grid-area: results-area;
  overflow-y: auto;
  border: 3px solid var(--primary);
  /* background-color: yellow; */
}

#results-title-label {
  font-size: clamp(0.75rem, 2.75vmin, 4rem) !important;
  font-weight: bold;
  display: inline;
  /* background-color: var(--primary-300); */
}

.super-search-div-class {
  text-align: center;
  margin-top: 2px;
}
.super-search-obj-class {
  max-height: 25vh;
  max-width: 100%;
  cursor: pointer;
}

#modal-meme-clicked-grid-container-id {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
  /* box-sizing: border-box; */
  padding: 0%;
  grid-template-areas:
    'modal-meme-clicked-tag-list-div-container-id'
    'modal-meme-clicked-image-gridbox-id';
}

#modal-meme-clicked-tag-list-div-container-id {
  background-color: var(--primary-300);
  grid-area: modal-meme-clicked-tag-list-div-container-id;
  font-weight: bold;
  font-size: 3vmin;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#capture-button-id,
#select-capture-button-id,
#back-capture-button-id {
  font-size: 3vmin;
}

#modal-meme-clicked-image-gridbox-id {
  background-color: var(--primary);
  grid-area: modal-meme-clicked-image-gridbox-id;
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
  /* box-sizing: border-box; */
  padding: 0%;
  grid-template-areas:
    'video-area'
    'canvas-area';
}
#canvas-webcam-id {
  grid-area: canvas-area;
  height: 100%;
  width: 100%;
  /* background-color: burlywood; */
}
#webcam-video-id {
  grid-area: video-area;
  height: 100%;
  width: 100%;
  /* background-color: blueviolet; */
}

/* #modal-meme-clicked-displayimg-id {
    height: 99999px;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto auto;
} */
